body{
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400%, 400%;
    
   
   
    /* setting the format of the body of the page and its background color */
}

footer{/* setting the display of the footer */
   float: right;
}

/* setting the way the links section on the right side of the page will be displayed */

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
 background-color: #a4c0f4;
  display: block;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* setting how the headers are displayed*/
h1{
    text-align: center;
    
}

h2{
    font-weight: bold;
}

p{ /*setting how the welcome message will be displayed */
   text-align: left;
    width: 800px;
    font-size: 17px;
    line-height: 150%;
}

.container {/* title of the website in front of picture */
  position: relative;
  text-align: center;
  color: white;
}


/* all the following lines of code concern the menu bar, from the display to the animation when the cursor is on the links */
.centered { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 400%;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;

}


 #menu ul{
    padding: 0em;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color:#a4c0f4;
    justify-content: center;
   
    
}

 #menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5em;
    
}

#menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 22px;
    display:block;
    padding: 10px 15px;
    position: relative;
}

 #menu ul li a:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:2px;
    background-color: black;
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
}


 #menu ul li a:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
    
}
#menu ul li a:hover:before, #menu ul li a:hover:after{
    transform: scaleX(1);
}













