body{/* setting the format of the body of the page and its background color */
    font-family: "Comfortaa", sans-serif;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400%, 400%;
}
h1{/* displaying the header in center of page */
    text-align: center;
}

footer{/* setting the display of the footer */
    font-weight: bold;
    text-align:center;
    line-height: 150%;
}

#intro{/* setting the description message to be displayed in the center, bold and with a certain space between lines */
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.container {/* title of the website in front of picture */
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 400%;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;

}


/* all the following lines of code concern the menu bar, from the display to the animation when the cursor is on the links */

ul{
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    justify-content: center;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5em;
    
}

ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 22px;
    display:block;
    padding: 10px 15px;
    position: relative;
}

ul li a:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:2px;
    background-color: black;
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
}


ul li a:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
    
}

ul li a:hover:before, ul li a:hover:after{
    transform: scaleX(1);
}

